@import "tailwindcss";

:root {
  --background: #0c0b0a; /* 暖调深黑 */
  --foreground: #fffbeb; /* 象牙白 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}

/* 🚀 增加一个精密网格背景 */
.bg-grid {
  background-image: radial-gradient(rgba(245, 158, 11, 0.05) 1px, transparent 0);
  background-size: 30px 30px;
}
